# Maven build folder
**/bin/
**/target/

# Maven Tycho pomless files
**/.polyglot.*
**/.META-INF_MANIFEST.MF
**/feature.xml.takari_issue_192
**/pom.tycho

# Generation and merging artifacts
**/xtend-gen/**/*.xtendbin
**/xtend-gen/**/*._trace
**/src-gen/**/*._trace
**/plugin.xml_gen
**/*.orig

/.classpath
/.metadata/
/.settings/
/workspace
/**/.JETEmitters
/**/.asciidoctor/
