# Set the default behavior, convert to native line endings on checkout
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
# Miscellaneous 
*.bin      binary
*.dat      binary
*.dll      binary
*.exe      binary
*.ttf      binary
*.xtextbin binary
# Archives
*.7z       binary
*.gz       binary
*.jar      binary
*.tar      binary
*.zip      binary
# Images
*.bmp  binary
*.gif  binary
*.ico  binary
*.jpg  binary
*.png  binary
*.svg  binary
# Videos
*.avi  binary
*.mp4  binary
# Documents
*.doc  binary
*.docx binary
*.pdf  binary
*.ppt  binary
*.pptx binary
*.xls  binary
*.xlsx binary
