<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018-2023 TNO and Contributors to the GitHub community

    This program and the accompanying materials are made available
    under the terms of the MIT License which is available at
    https://opensource.org/licenses/MIT

    SPDX-License-Identifier: MIT

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Platform Performance Suite"
            name="PPS v0.20">
         <property
               name="windowImages"
               value="images/pps16.png,images/pps32.png,images/pps48.png,images/pps64.png,images/pps128.png,images/pps256.png">
         </property>
         <property
               name="startupForegroundColor"
               value="9C9696">
         </property>
         <property
               name="startupMessageRect"
               value="146,93,262,20">
         </property>
         <property
               name="startupProgressRect"
               value="146,113,262,10">
         </property>
         <property
               name="aboutImage"
               value="images/pps_about.png">
         </property>
         <property
               name="aboutText"
               value="Platform Performance Suite">
         </property>
         <property
              name="introBrandingImage"
              value="product:images/eclipse_intro.png">
         </property>
         <property
               name="introTitle"
               value="Welcome to the Platform Performance Suite (PPS)">
         </property>
         <property
               name="appName"
               value="PPS">
         </property>
         <property
               name="introDescription-root"
               value="Get Started...">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="nl.esi.pps.product.branding.product">
      </introProductBinding>
   </extension>
</plugin>
